@font-face {
  font-family: "ptsans-400.woff2";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ptsans-700.woff2";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "ptsans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;

}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {

  color: #000000;
  background-color: #FFFFFF;
  background-image: url("images/index-background-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.advantages-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;

}

.advantages-item-house {
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-item-souvenirs{

  background-color: rgba(131, 179, 211, 0.12);
}

.index-columns {
  color: #000000;
  background-color: #FFFFFF;

}

.advantages-item-area{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item-tourist {
background-color: rgba(131, 179, 211, 0.12);

}
.index-text {
  color: #FFFFFF;
  background-color: #82B3D3;

}

.info {

  font-family: "ptsans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}

.info-title {

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;

}

.search {
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;

}

.search-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  
}

.subscribe {
  background-color: #000000;
  background-image: url("images/subscribe-background.jpg");
  text-align: center;
  color: #FFFFFF;
  
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.page-footer {
  background-color: #FFFFFF;
  background-repeat: repeat;
}

.footer-phone-cotacts {

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.background-filter {

  background-color: #000000;
  background-image: url("images/filter-background.jpg");
}

  .breadcrumbs {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
  }

  .breadcrumbs-link {
    color: inherit;
  }

  .catalog-filter-group {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;

  }

  .catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: capitalize;
  }


  .control-label {
    font-weight: 700;
  }

  .sorting-container {

    color: #333333;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
  }

  .sorting-container-title {

    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
  }

  .hotel-card {
    font-size: 18px;
    line-height: 21px;
    color: #000000;

  }

  .hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  .button-want {
    border: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    cursor: pointer;

  }

  .button-search {
    border: none;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    cursor: pointer;


  }

  .hotel-card-button {
    border: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
    cursor: pointer;

  }

  .subscribe-button-second {
    border: none;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #82B3D3;


  }

  .button-second {
    background-color: #82B3D3;

  }
  .button-selected {
    background-color: #7DB54F;
  }

  .pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

  }

  .pagination-current {

    color: #000000;
    background-color: #ffffff;
  }

  .pagination-disabled {

    color: #FFFFFF;
    background-color: #82B3D3;
